In [1]:
import time
tic = time.time()

import numpy as np
import pandas as pd
import gc
import os
import glob
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


separator_line = '\n\n'+'\033[1m_\033[0m'*100+'\n'+'\033[1m_\033[0m'*100+'\n\n'
pd.set_option('display.max_rows', 4000)
pd.set_option('display.max_columns', 4000)
pd.set_option('display.width', 1000)

In [2]:
# get csv's paths
for file_csv in glob.glob(r"C:\Users\emanu\Documents\Projet_7\input\*.csv"):
    file_csv = os.path.join("c:\\", file_csv)
    
    # from path extract the csv name
    start = r"C:\Users\emanu\Documents\Projet_7\input"
    end = '.csv'
    data_name = ((file_csv.split(start))[1].split(end)[0])[1:]
    
    # read csv
    data = pd.read_csv(file_csv, encoding="utf-8", encoding_errors='ignore')
    
    # take and save some info
    data_info = pd.DataFrame()
    data_info['Dtypes'] = data.dtypes
    data_info['Nan_values']= data.isna().mean()
    data_info['NUnique'] = data.nunique()
    
    # print
    print('\n\n\033[1m'+data_name+' :\033[0m ')    
    print(f'\n\nINFOS \n\nshape : {data.shape}')
    display(data_info)
    display(data.sample(5))
    print(separator_line)
    
del data_info, data, data_name
gc.collect()

application_test :


INFOS

shape : (48744, 121)

                               Dtypes  Nan_values  NUnique
SK_ID_CURR                      int64    0.000000    48744
NAME_CONTRACT_TYPE             object    0.000000        2
CODE_GENDER                    object    0.000000        2
FLAG_OWN_CAR                   object    0.000000        2
FLAG_OWN_REALTY                object    0.000000        2
CNT_CHILDREN                    int64    0.000000       11
AMT_INCOME_TOTAL              float64    0.000000      606
AMT_CREDIT                    float64    0.000000     2937
AMT_ANNUITY                   float64    0.000492     7491
AMT_GOODS_PRICE               float64    0.000000      677
NAME_TYPE_SUITE                object    0.018689        7
NAME_INCOME_TYPE               object    0.000000        7
NAME_EDUCATION_TYPE            object    0.000000        5
NAME_FAMILY_STATUS             object    0.000000        5
NAME_HOUSING_TYPE              object    0.000000        6
REGION_POPULATION_RELATIVE    float64    0.000000       81
DAYS_BIRTH                      int64    0.000000    15477
DAYS_EMPLOYED                   int64    0.000000     7863
DAYS_REGISTRATION             float64    0.000000    12618
DAYS_ID_PUBLISH                 int64    0.000000     5880
OWN_CAR_AGE                   float64    0.662892       52
FLAG_MOBIL                      int64    0.000000        2
FLAG_EMP_PHONE                  int64    0.000000        2
FLAG_WORK_PHONE                 int64    0.000000        2
FLAG_CONT_MOBILE                int64    0.000000        2
FLAG_PHONE                      int64    0.000000        2
FLAG_EMAIL                      int64    0.000000        2
OCCUPATION_TYPE                object    0.320142       18
CNT_FAM_MEMBERS               float64    0.000000       12
REGION_RATING_CLIENT            int64    0.000000        3
REGION_RATING_CLIENT_W_CITY     int64    0.000000        4
WEEKDAY_APPR_PROCESS_START     object    0.000000        7
HOUR_APPR_PROCESS_START         int64    0.000000       24
REG_REGION_NOT_LIVE_REGION      int64    0.000000        2
REG_REGION_NOT_WORK_REGION      int64    0.000000        2
LIVE_REGION_NOT_WORK_REGION     int64    0.000000        2
REG_CITY_NOT_LIVE_CITY          int64    0.000000        2
REG_CITY_NOT_WORK_CITY          int64    0.000000        2
LIVE_CITY_NOT_WORK_CITY         int64    0.000000        2
ORGANIZATION_TYPE              object    0.000000       58
EXT_SOURCE_1                  float64    0.421221    27207
EXT_SOURCE_2                  float64    0.000164    38885
EXT_SOURCE_3                  float64    0.177827      702
APARTMENTS_AVG                float64    0.490050     1543
BASEMENTAREA_AVG              float64    0.567065     2816
YEARS_BEGINEXPLUATATION_AVG   float64    0.468899      175
YEARS_BUILD_AVG               float64    0.652757      130
COMMONAREA_AVG                float64    0.687161     2042
ELEVATORS_AVG                 float64    0.516761      181
ENTRANCES_AVG                 float64    0.483731      200
FLOORSMAX_AVG                 float64    0.478438      252
FLOORSMIN_AVG                 float64    0.666051      198
LANDAREA_AVG                  float64    0.579641     2540
LIVINGAPARTMENTS_AVG          float64    0.672493     1211
LIVINGAREA_AVG                float64    0.483177     3848
NONLIVINGAPARTMENTS_AVG       float64    0.684125      241
NONLIVINGAREA_AVG             float64    0.535122     2026
APARTMENTS_MODE               float64    0.490050      636
BASEMENTAREA_MODE             float64    0.567065     2835
YEARS_BEGINEXPLUATATION_MODE  float64    0.468899      160
YEARS_BUILD_MODE              float64    0.652757      132
COMMONAREA_MODE               float64    0.687161     2001
ELEVATORS_MODE                float64    0.516761       26
ENTRANCES_MODE                float64    0.483731       30
FLOORSMAX_MODE                float64    0.478438       25
FLOORSMIN_MODE                float64    0.666051       25
LANDAREA_MODE                 float64    0.579641     2560
LIVINGAPARTMENTS_MODE         float64    0.672493      602
LIVINGAREA_MODE               float64    0.483177     3842
NONLIVINGAPARTMENTS_MODE      float64    0.684125      106
NONLIVINGAREA_MODE            float64    0.535122     2025
APARTMENTS_MEDI               float64    0.490050      918
BASEMENTAREA_MEDI             float64    0.567065     2805
YEARS_BEGINEXPLUATATION_MEDI  float64    0.468899      169
YEARS_BUILD_MEDI              float64    0.652757      129
COMMONAREA_MEDI               float64    0.687161     2034
ELEVATORS_MEDI                float64    0.516761       43
ENTRANCES_MEDI                float64    0.483731       43
FLOORSMAX_MEDI                float64    0.478438       47
FLOORSMIN_MEDI                float64    0.666051       44
LANDAREA_MEDI                 float64    0.579641     2562
LIVINGAPARTMENTS_MEDI         float64    0.672493      843
LIVINGAREA_MEDI               float64    0.483177     3885
NONLIVINGAPARTMENTS_MEDI      float64    0.684125      134
NONLIVINGAREA_MEDI            float64    0.535122     2030
FONDKAPREMONT_MODE             object    0.672842        4
HOUSETYPE_MODE                 object    0.484552        3
TOTALAREA_MODE                float64    0.464139     3820
WALLSMATERIAL_MODE             object    0.490173        7
EMERGENCYSTATE_MODE            object    0.455625        2
OBS_30_CNT_SOCIAL_CIRCLE      float64    0.000595       28
DEF_30_CNT_SOCIAL_CIRCLE      float64    0.000595        8
OBS_60_CNT_SOCIAL_CIRCLE      float64    0.000595       27
DEF_60_CNT_SOCIAL_CIRCLE      float64    0.000595        7
DAYS_LAST_PHONE_CHANGE        float64    0.000000     3579
FLAG_DOCUMENT_2                 int64    0.000000        1
FLAG_DOCUMENT_3                 int64    0.000000        2
FLAG_DOCUMENT_4                 int64    0.000000        2
FLAG_DOCUMENT_5                 int64    0.000000        2
FLAG_DOCUMENT_6                 int64    0.000000        2
FLAG_DOCUMENT_7                 int64    0.000000        2
FLAG_DOCUMENT_8                 int64    0.000000        2
FLAG_DOCUMENT_9                 int64    0.000000        2
FLAG_DOCUMENT_10                int64    0.000000        1
FLAG_DOCUMENT_11                int64    0.000000        2
FLAG_DOCUMENT_12                int64    0.000000        1
FLAG_DOCUMENT_13                int64    0.000000        1
FLAG_DOCUMENT_14                int64    0.000000        1
FLAG_DOCUMENT_15                int64    0.000000        1
FLAG_DOCUMENT_16                int64    0.000000        1
FLAG_DOCUMENT_17                int64    0.000000        1
FLAG_DOCUMENT_18                int64    0.000000        2
FLAG_DOCUMENT_19                int64    0.000000        1
FLAG_DOCUMENT_20                int64    0.000000        1
FLAG_DOCUMENT_21                int64    0.000000        1
AMT_REQ_CREDIT_BUREAU_HOUR    float64    0.124097        3
AMT_REQ_CREDIT_BUREAU_DAY     float64    0.124097        3
AMT_REQ_CREDIT_BUREAU_WEEK    float64    0.124097        3
AMT_REQ_CREDIT_BUREAU_MON     float64    0.124097        7
AMT_REQ_CREDIT_BUREAU_QRT     float64    0.124097        8
AMT_REQ_CREDIT_BUREAU_YEAR    float64    0.124097       16

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
9461,168916,Cash loans,F,N,N,1,135000.0,234576.0,24759.0,202500.0,Unaccompanied,Commercial associate,Higher education,Married,With parents,0.004960,-10691,-980,-4835.0,-2651,NaN,1,1,0,1,0,0,Accountants,3.0,2,2,MONDAY,9,0,0,0,0,1,1,Business Entity Type 2,0.250693,0.361476,0.746300,0.0082,NaN,0.9752,NaN,NaN,NaN,NaN,0.0417,NaN,NaN,NaN,0.0090,NaN,NaN,0.0084,NaN,0.9692,NaN,NaN,NaN,NaN,0.0417,NaN,NaN,NaN,0.0083,NaN,NaN,0.0083,NaN,0.9752,NaN,NaN,NaN,NaN,0.0417,NaN,NaN,NaN,0.0092,NaN,NaN,NaN,block of flats,0.0063,NaN,No,0.0,0.0,0.0,0.0,-454.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
28162,305460,Cash loans,M,N,Y,1,315000.0,675000.0,80239.5,675000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.046220,-15888,-148,-8214.0,-5981,NaN,1,1,0,1,0,0,Drivers,3.0,1,1,FRIDAY,9,0,0,0,0,0,0,Transport: type 4,0.251333,0.758163,0.427657,0.0412,NaN,0.9866,NaN,NaN,0.0,0.0690,0.1667,NaN,0.0639,NaN,NaN,NaN,NaN,0.0420,NaN,0.9866,NaN,NaN,0.0,0.0690,0.1667,NaN,0.0654,NaN,NaN,NaN,NaN,0.0416,NaN,0.9866,NaN,NaN,0.0,0.0690,0.1667,NaN,0.0650,NaN,NaN,NaN,NaN,NaN,block of flats,0.0381,Panel,No,0.0,0.0,0.0,0.0,-223.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
32669,337896,Cash loans,F,N,N,0,427500.0,450000.0,25128.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010006,-17660,-162,-2164.0,-1208,NaN,1,1,1,1,0,0,Security staff,2.0,2,2,TUESDAY,10,0,0,0,0,1,1,Business Entity Type 3,0.654624,0.614728,0.406617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,4.0,0.0,-502.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29249,313139,Cash loans,M,Y,Y,0,112500.0,334152.0,17190.0,270000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.030755,-19193,-1717,-5473.0,-2744,16.0,1,1,0,1,0,0,Drivers,2.0,2,2,FRIDAY,16,0,0,0,0,0,0,Government,NaN,0.675690,NaN,0.1485,0.0738,0.9786,0.7076,0.0053,0.0,0.1034,0.1667,0.0417,0.0368,0.121,0.0534,0.0,0.0,0.1513,0.0766,0.9786,0.719,0.0054,0.0,0.1034,0.1667,0.0417,0.0376,0.1322,0.0556,0.0,0.0,0.1499,0.0738,0.9786,0.7115,0.0054,0.0,0.1034,0.1667,0.0417,0.0374,0.1231,0.0544,0.0,0.0,reg oper spec account,specific housing,0.0504,"Stone, brick",No,0.0,0.0,0.0,0.0,-1244.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17528,227270,Cash loans,F,Y,N,0,67500.0,90000.0,6012.0,90000.0,Unaccompanied,State servant,Secondary / secondary special,Married,With parents,0.006852,-9498,-1813,-1517.0,-1464,6.0,1,1,1,1,0,0,Medicine staff,2.0,3,3,FRIDAY,14,0,0,0,0,0,0,Medicine,0.203158,0.181517,0.365617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-509.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




application_train :


INFOS

shape : (307511, 122)

                               Dtypes  Nan_values  NUnique
SK_ID_CURR                      int64    0.000000   307511
TARGET                          int64    0.000000        2
NAME_CONTRACT_TYPE             object    0.000000        2
CODE_GENDER                    object    0.000000        3
FLAG_OWN_CAR                   object    0.000000        2
FLAG_OWN_REALTY                object    0.000000        2
CNT_CHILDREN                    int64    0.000000       15
AMT_INCOME_TOTAL              float64    0.000000     2548
AMT_CREDIT                    float64    0.000000     5603
AMT_ANNUITY                   float64    0.000039    13672
AMT_GOODS_PRICE               float64    0.000904     1002
NAME_TYPE_SUITE                object    0.004201        7
NAME_INCOME_TYPE               object    0.000000        8
NAME_EDUCATION_TYPE            object    0.000000        5
NAME_FAMILY_STATUS             object    0.000000        6
NAME_HOUSING_TYPE              object    0.000000        6
REGION_POPULATION_RELATIVE    float64    0.000000       81
DAYS_BIRTH                      int64    0.000000    17460
DAYS_EMPLOYED                   int64    0.000000    12574
DAYS_REGISTRATION             float64    0.000000    15688
DAYS_ID_PUBLISH                 int64    0.000000     6168
OWN_CAR_AGE                   float64    0.659908       62
FLAG_MOBIL                      int64    0.000000        2
FLAG_EMP_PHONE                  int64    0.000000        2
FLAG_WORK_PHONE                 int64    0.000000        2
FLAG_CONT_MOBILE                int64    0.000000        2
FLAG_PHONE                      int64    0.000000        2
FLAG_EMAIL                      int64    0.000000        2
OCCUPATION_TYPE                object    0.313455       18
CNT_FAM_MEMBERS               float64    0.000007       17
REGION_RATING_CLIENT            int64    0.000000        3
REGION_RATING_CLIENT_W_CITY     int64    0.000000        3
WEEKDAY_APPR_PROCESS_START     object    0.000000        7
HOUR_APPR_PROCESS_START         int64    0.000000       24
REG_REGION_NOT_LIVE_REGION      int64    0.000000        2
REG_REGION_NOT_WORK_REGION      int64    0.000000        2
LIVE_REGION_NOT_WORK_REGION     int64    0.000000        2
REG_CITY_NOT_LIVE_CITY          int64    0.000000        2
REG_CITY_NOT_WORK_CITY          int64    0.000000        2
LIVE_CITY_NOT_WORK_CITY         int64    0.000000        2
ORGANIZATION_TYPE              object    0.000000       58
EXT_SOURCE_1                  float64    0.563811   114584
EXT_SOURCE_2                  float64    0.002146   119831
EXT_SOURCE_3                  float64    0.198253      814
APARTMENTS_AVG                float64    0.507497     2339
BASEMENTAREA_AVG              float64    0.585160     3780
YEARS_BEGINEXPLUATATION_AVG   float64    0.487810      285
YEARS_BUILD_AVG               float64    0.664978      149
COMMONAREA_AVG                float64    0.698723     3181
ELEVATORS_AVG                 float64    0.532960      257
ENTRANCES_AVG                 float64    0.503488      285
FLOORSMAX_AVG                 float64    0.497608      403
FLOORSMIN_AVG                 float64    0.678486      305
LANDAREA_AVG                  float64    0.593767     3527
LIVINGAPARTMENTS_AVG          float64    0.683550     1868
LIVINGAREA_AVG                float64    0.501933     5199
NONLIVINGAPARTMENTS_AVG       float64    0.694330      386
NONLIVINGAREA_AVG             float64    0.551792     3290
APARTMENTS_MODE               float64    0.507497      760
BASEMENTAREA_MODE             float64    0.585160     3841
YEARS_BEGINEXPLUATATION_MODE  float64    0.487810      221
YEARS_BUILD_MODE              float64    0.664978      154
COMMONAREA_MODE               float64    0.698723     3128
ELEVATORS_MODE                float64    0.532960       26
ENTRANCES_MODE                float64    0.503488       30
FLOORSMAX_MODE                float64    0.497608       25
FLOORSMIN_MODE                float64    0.678486       25
LANDAREA_MODE                 float64    0.593767     3563
LIVINGAPARTMENTS_MODE         float64    0.683550      736
LIVINGAREA_MODE               float64    0.501933     5301
NONLIVINGAPARTMENTS_MODE      float64    0.694330      167
NONLIVINGAREA_MODE            float64    0.551792     3327
APARTMENTS_MEDI               float64    0.507497     1148
BASEMENTAREA_MEDI             float64    0.585160     3772
YEARS_BEGINEXPLUATATION_MEDI  float64    0.487810      245
YEARS_BUILD_MEDI              float64    0.664978      151
COMMONAREA_MEDI               float64    0.698723     3202
ELEVATORS_MEDI                float64    0.532960       46
ENTRANCES_MEDI                float64    0.503488       46
FLOORSMAX_MEDI                float64    0.497608       49
FLOORSMIN_MEDI                float64    0.678486       47
LANDAREA_MEDI                 float64    0.593767     3560
LIVINGAPARTMENTS_MEDI         float64    0.683550     1097
LIVINGAREA_MEDI               float64    0.501933     5281
NONLIVINGAPARTMENTS_MEDI      float64    0.694330      214
NONLIVINGAREA_MEDI            float64    0.551792     3323
FONDKAPREMONT_MODE             object    0.683862        4
HOUSETYPE_MODE                 object    0.501761        3
TOTALAREA_MODE                float64    0.482685     5116
WALLSMATERIAL_MODE             object    0.508408        7
EMERGENCYSTATE_MODE            object    0.473983        2
OBS_30_CNT_SOCIAL_CIRCLE      float64    0.003320       33
DEF_30_CNT_SOCIAL_CIRCLE      float64    0.003320       10
OBS_60_CNT_SOCIAL_CIRCLE      float64    0.003320       33
DEF_60_CNT_SOCIAL_CIRCLE      float64    0.003320        9
DAYS_LAST_PHONE_CHANGE        float64    0.000003     3773
FLAG_DOCUMENT_2                 int64    0.000000        2
FLAG_DOCUMENT_3                 int64    0.000000        2
FLAG_DOCUMENT_4                 int64    0.000000        2
FLAG_DOCUMENT_5                 int64    0.000000        2
FLAG_DOCUMENT_6                 int64    0.000000        2
FLAG_DOCUMENT_7                 int64    0.000000        2
FLAG_DOCUMENT_8                 int64    0.000000        2
FLAG_DOCUMENT_9                 int64    0.000000        2
FLAG_DOCUMENT_10                int64    0.000000        2
FLAG_DOCUMENT_11                int64    0.000000        2
FLAG_DOCUMENT_12                int64    0.000000        2
FLAG_DOCUMENT_13                int64    0.000000        2
FLAG_DOCUMENT_14                int64    0.000000        2
FLAG_DOCUMENT_15                int64    0.000000        2
FLAG_DOCUMENT_16                int64    0.000000        2
FLAG_DOCUMENT_17                int64    0.000000        2
FLAG_DOCUMENT_18                int64    0.000000        2
FLAG_DOCUMENT_19                int64    0.000000        2
FLAG_DOCUMENT_20                int64    0.000000        2
FLAG_DOCUMENT_21                int64    0.000000        2
AMT_REQ_CREDIT_BUREAU_HOUR    float64    0.135016        5
AMT_REQ_CREDIT_BUREAU_DAY     float64    0.135016        9
AMT_REQ_CREDIT_BUREAU_WEEK    float64    0.135016        9
AMT_REQ_CREDIT_BUREAU_MON     float64    0.135016       24
AMT_REQ_CREDIT_BUREAU_QRT     float64    0.135016       11
AMT_REQ_CREDIT_BUREAU_YEAR    float64    0.135016       25

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
87096,201086,0,Cash loans,F,N,Y,1,135000.0,942300.0,27549.0,675000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.030755,-15277,-135,-7058.0,-5053,NaN,1,1,0,1,0,0,Security staff,2.0,2,2,THURSDAY,10,0,0,0,0,1,1,Security,NaN,0.199041,0.477649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1905.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
173210,300724,0,Cash loans,F,N,Y,1,247500.0,1082214.0,31770.0,945000.0,Family,Working,Secondary / secondary special,Married,House / apartment,0.009175,-9400,-340,-1634.0,-1640,NaN,1,1,0,1,1,1,NaN,3.0,2,2,SATURDAY,12,0,0,0,0,1,1,Business Entity Type 3,NaN,0.497985,0.681706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-1291.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
114910,233243,1,Cash loans,F,N,N,1,121500.0,312768.0,15966.0,270000.0,Unaccompanied,Working,Lower secondary,Separated,With parents,0.035792,-12317,-2552,-6311.0,-4402,NaN,1,1,1,1,1,0,NaN,2.0,2,2,WEDNESDAY,19,0,0,0,0,0,0,School,0.305077,0.216423,0.321735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-534.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
135299,256924,0,Revolving loans,M,Y,Y,1,135000.0,270000.0,13500.0,270000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.018209,-16576,-8299,-1429.0,-85,14.0,1,1,0,1,0,0,Laborers,3.0,3,3,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 2,0.271841,0.508065,0.750375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,2.0,0.0,2.0,0.0,-2412.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
299150,446562,0,Cash loans,F,N,Y,0,270000.0,651816.0,21672.0,495000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.009175,-18286,-379,-6135.0,-1827,NaN,1,1,0,1,1,0,Core staff,2.0,2,2,FRIDAY,10,0,1,1,0,0,0,School,0.851891,0.676160,0.709189,0.1186,0.1545,0.9846,NaN,NaN,0.0,0.2759,0.1667,NaN,0.1231,NaN,0.107,NaN,0.0552,0.1208,0.1604,0.9846,NaN,NaN,0.0,0.2759,0.1667,NaN,0.1259,NaN,0.1115,NaN,0.0584,0.1197,0.1545,0.9846,NaN,NaN,0.0,0.2759,0.1667,NaN,0.1253,NaN,0.1089,NaN,0.0563,NaN,block of flats,0.0962,"Stone, brick",No,0.0,0.0,0.0,0.0,-2014.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




bureau :


INFOS

shape : (1716428, 17)

                         Dtypes  Nan_values  NUnique
SK_ID_CURR                int64    0.000000   305811
SK_ID_BUREAU              int64    0.000000  1716428
CREDIT_ACTIVE            object    0.000000        4
CREDIT_CURRENCY          object    0.000000        4
DAYS_CREDIT               int64    0.000000     2923
CREDIT_DAY_OVERDUE        int64    0.000000      942
DAYS_CREDIT_ENDDATE     float64    0.061496    14096
DAYS_ENDDATE_FACT       float64    0.369170     2917
AMT_CREDIT_MAX_OVERDUE  float64    0.655133    68251
CNT_CREDIT_PROLONG        int64    0.000000       10
AMT_CREDIT_SUM          float64    0.000008   236708
AMT_CREDIT_SUM_DEBT     float64    0.150119   226537
AMT_CREDIT_SUM_LIMIT    float64    0.344774    51726
AMT_CREDIT_SUM_OVERDUE  float64    0.000000     1616
CREDIT_TYPE              object    0.000000       15
DAYS_CREDIT_UPDATE        int64    0.000000     2982
AMT_ANNUITY             float64    0.714735    40321

         SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE      CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
1134566      216253       5866448        Active      currency 1          -92                   0                458.0                NaN                     0.0                   0       231778.26            165238.11                   0.0                     0.0  Consumer credit                 -31          NaN
1077643      307083       5932003        Closed      currency 1         -633                   0               1193.0             -449.0                     NaN                   0       495000.00                 0.00                   0.0                     0.0  Consumer credit                -109      13126.5
1109097      328780       6182377        Closed      currency 1        -2353                   0              -1988.0            -1988.0                     NaN                   0        73440.00                 0.00                   NaN                     0.0  Consumer credit               -1986          NaN
1550222      382906       6607379        Closed      currency 1         -601                   0               -236.0             -235.0                     0.0                   0       313434.81                 0.00                   0.0                     0.0  Consumer credit                -233          NaN
111254       340019       6028886        Closed      currency 1         -632                   0                 98.0              -26.0                     NaN                   0       306000.00                 0.00                   0.0                     0.0  Consumer credit                 -22          0.0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




bureau_balance :


INFOS

shape : (27299925, 3)

                Dtypes  Nan_values  NUnique
SK_ID_BUREAU     int64         0.0   817395
MONTHS_BALANCE   int64         0.0       97
STATUS          object         0.0        8

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
15910356       5952062              -6      C
12349803       6284179             -43      C
3982019        6311613              -3      0
20829702       5429102             -49      X
16587448       5117525             -74      X

____________________________________________________________________________________________________
____________________________________________________________________________________________________




credit_card_balance :


INFOS

shape : (3840312, 23)

                             Dtypes  Nan_values  NUnique
SK_ID_PREV                    int64    0.000000   104307
SK_ID_CURR                    int64    0.000000   103558
MONTHS_BALANCE                int64    0.000000       96
AMT_BALANCE                 float64    0.000000  1347904
AMT_CREDIT_LIMIT_ACTUAL       int64    0.000000      181
AMT_DRAWINGS_ATM_CURRENT    float64    0.195249     2267
AMT_DRAWINGS_CURRENT        float64    0.000000   187005
AMT_DRAWINGS_OTHER_CURRENT  float64    0.195249     1832
AMT_DRAWINGS_POS_CURRENT    float64    0.195249   168748
AMT_INST_MIN_REGULARITY     float64    0.079482   312266
AMT_PAYMENT_CURRENT         float64    0.199981   163209
AMT_PAYMENT_TOTAL_CURRENT   float64    0.000000   182957
AMT_RECEIVABLE_PRINCIPAL    float64    0.000000  1195839
AMT_RECIVABLE               float64    0.000000  1338878
AMT_TOTAL_RECEIVABLE        float64    0.000000  1339008
CNT_DRAWINGS_ATM_CURRENT    float64    0.195249       44
CNT_DRAWINGS_CURRENT          int64    0.000000      129
CNT_DRAWINGS_OTHER_CURRENT  float64    0.195249       11
CNT_DRAWINGS_POS_CURRENT    float64    0.195249      133
CNT_INSTALMENT_MATURE_CUM   float64    0.079482      121
NAME_CONTRACT_STATUS         object    0.000000        7
SK_DPD                        int64    0.000000      917
SK_DPD_DEF                    int64    0.000000      378

         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_POS_CURRENT  CNT_INSTALMENT_MATURE_CUM NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
3177810     2101605      334950             -15          0.0                        0                       0.0                   0.0                         0.0                       0.0                      0.0              389.340                      0.000                       0.0            0.0                   0.0                       0.0                     0                         0.0                       0.0                        5.0               Active       0           0
2005017     1548532      339502             -21          0.0                        0                       0.0                   0.0                         0.0                       0.0                      0.0             4136.220                      0.000                       0.0            0.0                   0.0                       0.0                     0                         0.0                       0.0                       14.0               Active       0           0
2468425     1864760      344120             -17          0.0                        0                       0.0                   0.0                         0.0                       0.0                      0.0                5.085                      5.085                       0.0            0.0                   0.0                       0.0                     0                         0.0                       0.0                       10.0               Active       0           0
2872045     2801495      186531             -30          0.0                   157500                       0.0                   0.0                         0.0                       0.0                      0.0             1409.355                      0.000                       0.0            0.0                   0.0                       0.0                     0                         0.0                       0.0                       38.0               Active       0           0
3126998     1850428      367938             -16          0.0                   135000                       0.0                   0.0                         0.0                       0.0                      0.0                3.195                      3.195                       0.0            0.0                   0.0                       0.0                     0                         0.0                       0.0                       12.0               Active       0           0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




HomeCredit_columns_description :


INFOS

shape : (219, 5)

             Dtypes  Nan_values  NUnique
Unnamed: 0    int64    0.000000      219
Table        object    0.000000        7
Row          object    0.000000      196
Description  object    0.000000      163
Special      object    0.607306        7

     Unnamed: 0                         Table                        Row                                        Description     Special
106         109  application_{train|test}.csv           FLAG_DOCUMENT_12                     Did client provide document 12         NaN
58           61  application_{train|test}.csv            APARTMENTS_MODE  Normalized information about building where th...  normalized
78           81  application_{train|test}.csv             ENTRANCES_MEDI  Normalized information about building where th...  normalized
195         198      previous_application.csv           NAME_CLIENT_TYPE  Was the client old or new client when applying...         NaN
119         122  application_{train|test}.csv  AMT_REQ_CREDIT_BUREAU_MON  Number of enquiries to Credit Bureau about the...         NaN

____________________________________________________________________________________________________
____________________________________________________________________________________________________




installments_payments :


INFOS

shape : (13605401, 8)

                         Dtypes  Nan_values  NUnique
SK_ID_PREV                int64    0.000000   997752
SK_ID_CURR                int64    0.000000   339587
NUM_INSTALMENT_VERSION  float64    0.000000       65
NUM_INSTALMENT_NUMBER     int64    0.000000      277
DAYS_INSTALMENT         float64    0.000000     2922
DAYS_ENTRY_PAYMENT      float64    0.000214     3039
AMT_INSTALMENT          float64    0.000000   902539
AMT_PAYMENT             float64    0.000214   944235

          SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  AMT_INSTALMENT  AMT_PAYMENT
13267887     1925898      448412                     1.0                     10          -1730.0             -1755.0        5348.520     5348.520
4238865      2190083      288772                     1.0                      4          -2391.0             -2391.0        3574.665     3574.665
2884660      2599045      193131                     0.0                     64          -1740.0             -1744.0        9000.000     9000.000
12170323     1216802      428868                     0.0                     39          -1562.0             -1562.0          77.445       77.445
10467760     1685502      317334                     0.0                    136           -138.0              -138.0           0.585        0.585

____________________________________________________________________________________________________
____________________________________________________________________________________________________




POS_CASH_balance :


INFOS

shape : (10001358, 8)

                        Dtypes  Nan_values  NUnique
SK_ID_PREV               int64    0.000000   936325
SK_ID_CURR               int64    0.000000   337252
MONTHS_BALANCE           int64    0.000000       96
CNT_INSTALMENT         float64    0.002607       73
CNT_INSTALMENT_FUTURE  float64    0.002608       79
NAME_CONTRACT_STATUS    object    0.000000        9
SK_DPD                   int64    0.000000     3400
SK_DPD_DEF               int64    0.000000     2307

         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
6515302     1624109      344707             -54            12.0                    3.0               Active       0           0
1945716     1974828      327330              -4            18.0                    6.0               Active       0           0
2231080     2461698      432119             -12            12.0                    0.0            Completed       0           0
5573798     2177778      354564             -26            24.0                   23.0               Active       0           0
4494240     1127537      123384             -95            12.0                    9.0               Active       0           0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




previous_application :


INFOS

shape : (1670214, 37)

                              Dtypes    Nan_values  NUnique
SK_ID_PREV                     int64  0.000000e+00  1670214
SK_ID_CURR                     int64  0.000000e+00   338857
NAME_CONTRACT_TYPE            object  0.000000e+00        4
AMT_ANNUITY                  float64  2.228667e-01   357959
AMT_APPLICATION              float64  0.000000e+00    93885
AMT_CREDIT                   float64  5.987257e-07    86803
AMT_DOWN_PAYMENT             float64  5.363648e-01    29278
AMT_GOODS_PRICE              float64  2.308177e-01    93885
WEEKDAY_APPR_PROCESS_START    object  0.000000e+00        7
HOUR_APPR_PROCESS_START        int64  0.000000e+00       24
FLAG_LAST_APPL_PER_CONTRACT   object  0.000000e+00        2
NFLAG_LAST_APPL_IN_DAY         int64  0.000000e+00        2
RATE_DOWN_PAYMENT            float64  5.363648e-01   207033
RATE_INTEREST_PRIMARY        float64  9.964370e-01      148
RATE_INTEREST_PRIVILEGED     float64  9.964370e-01       25
NAME_CASH_LOAN_PURPOSE        object  0.000000e+00       25
NAME_CONTRACT_STATUS          object  0.000000e+00        4
DAYS_DECISION                  int64  0.000000e+00     2922
NAME_PAYMENT_TYPE             object  0.000000e+00        4
CODE_REJECT_REASON            object  0.000000e+00        9
NAME_TYPE_SUITE               object  4.911975e-01        7
NAME_CLIENT_TYPE              object  0.000000e+00        4
NAME_GOODS_CATEGORY           object  0.000000e+00       28
NAME_PORTFOLIO                object  0.000000e+00        5
NAME_PRODUCT_TYPE             object  0.000000e+00        3
CHANNEL_TYPE                  object  0.000000e+00        8
SELLERPLACE_AREA               int64  0.000000e+00     2097
NAME_SELLER_INDUSTRY          object  0.000000e+00       11
CNT_PAYMENT                  float64  2.228637e-01       49
NAME_YIELD_GROUP              object  0.000000e+00        5
PRODUCT_COMBINATION           object  2.071591e-04       17
DAYS_FIRST_DRAWING           float64  4.029813e-01     2838
DAYS_FIRST_DUE               float64  4.029813e-01     2892
DAYS_LAST_DUE_1ST_VERSION    float64  4.029813e-01     4605
DAYS_LAST_DUE                float64  4.029813e-01     2873
DAYS_TERMINATION             float64  4.029813e-01     2830
NFLAG_INSURED_ON_APPROVAL    float64  4.029813e-01        2

         SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START FLAG_LAST_APPL_PER_CONTRACT  NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  RATE_INTEREST_PRIVILEGED NAME_CASH_LOAN_PURPOSE NAME_CONTRACT_STATUS  DAYS_DECISION      NAME_PAYMENT_TYPE CODE_REJECT_REASON NAME_TYPE_SUITE NAME_CLIENT_TYPE     NAME_GOODS_CATEGORY NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE  SELLERPLACE_AREA  NAME_SELLER_INDUSTRY  CNT_PAYMENT NAME_YIELD_GROUP          PRODUCT_COMBINATION  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
664183      1071527      170348     Consumer loans    15283.530        127125.00    123853.5          12712.50        127125.00                     MONDAY                       10                           Y                       1           0.101380                    NaN                       NaN                    XAP             Approved          -1651                    XNA                XAP   Unaccompanied              New  Construction Materials            POS               XNA                    Stone                11          Construction         10.0           middle   POS industry with interest            365243.0         -1607.0                    -1337.0        -1337.0           -1330.0                        0.0
1028918     1824117      340535     Consumer loans     4727.295         56934.00     45544.5          11389.50         56934.00                    TUESDAY                       13                           Y                       1           0.217870                    NaN                       NaN                    XAP             Approved           -297  Cash through the bank                XAP         Other_A         Repeater             Audio/Video            POS               XNA                    Stone               654  Consumer electronics         12.0           middle  POS household with interest            365243.0          -267.0                       63.0         -237.0            -229.0                        0.0
359200      1456219      226864     Consumer loans     8327.880         82885.41     82881.0              4.41         82885.41                  WEDNESDAY                       17                           Y                       1           0.000058                    NaN                       NaN                    XAP             Approved          -1179  Cash through the bank                XAP          Family        Refreshed    Consumer Electronics            POS               XNA             Country-wide              1100  Consumer electronics         12.0           middle  POS household with interest            365243.0         -1146.0                     -816.0         -816.0            -811.0                        0.0
1595416     2551328      380441     Consumer loans          NaN        133290.00    133290.0              0.00        133290.00                     MONDAY                       17                           Y                       1           0.000000                    NaN                       NaN                    XAP         Unused offer          -1615  Cash through the bank             CLIENT          Family         Repeater               Gardening            XNA               XNA         Regional / Local                40          Construction          NaN              XNA   POS industry with interest                 NaN             NaN                        NaN            NaN               NaN                        NaN
197725      1871504      197079    Revolving loans    11250.000        225000.00    225000.0               NaN        225000.00                     FRIDAY                       10                           Y                       1                NaN                    NaN                       NaN                    XAP             Approved           -407                    XNA                XAP             NaN              New                     XNA          Cards           walk-in  Credit and cash offices                -1                   XNA          0.0              XNA                  Card Street              -407.0          -364.0                   365243.0       365243.0          365243.0                        0.0

____________________________________________________________________________________________________
____________________________________________________________________________________________________




sample_submission :


INFOS

shape : (48744, 2)

             Dtypes  Nan_values  NUnique
SK_ID_CURR    int64         0.0    48744
TARGET      float64         0.0        1

       SK_ID_CURR  TARGET
1407       109985     0.5
14605      205264     0.5
46115      437169     0.5
3373       123615     0.5
47136      444424     0.5

____________________________________________________________________________________________________
____________________________________________________________________________________________________

0

In [3]:
@contextmanager
def timer(title):
    
    t0 = time.time()
    yield
    print("{} - done in {:.0f}s".format(title, time.time() - t0))

In [4]:
def nan_inf_char(df, method='median',nan_max_perc=0.5):
    
# replace np.inf values
    df = df.replace([np.inf, -np.inf], np.nan)
    
    to_drop = [col for col in df.columns if df[col].isna().mean()>=nan_max_perc]
    df.drop(to_drop, axis=1, inplace=True)
    print(f"{len(to_drop)} features with more than {nan_max_perc*100}% of NaN values : Dropped !")
    del to_drop

            
# replace np.nan values   
    for col in df.columns: 
        if df[col].isna().sum()>0:
            if method == 'mean':
                col_mean = df[col].mean()
                df[col] = df[col].fillna(col_mean)
                del col_mean
            elif method == 'median':
                col_median = df[col].median()
                df[col] = df[col].fillna(col_median)
                del col_median
            elif method == 'zero':
                df[col] = df[col].fillna(0)
            
# replace not admissibles characters
        for char in [',','[',']','{','}',":"]:
            if char in col:
                new_col_name = col.replace(char,'')
                df.rename(columns={col:new_col_name}, inplace=True)
                del new_col_name
    gc.collect()        
    return df

In [5]:
def drop_corr_feat(df, max_correlation = 0.80, min_correlation = 0.001):
    
    df.set_index('SK_ID_CURR', inplace=True)
    
    cor_matrix = df.corr().abs()
    
    upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool)).drop('TARGET',axis=0).drop('TARGET',axis=1)
    to_drop_max = [column for column in upper_tri.columns if (any(upper_tri[column] > max_correlation))]
    print(f"{len(to_drop_max)} features  with a correlation coefficient to another feature > {max_correlation}")
        
    cor_target = cor_matrix['TARGET']   
    to_drop_min = [column for column in df.columns if (cor_target[column] < min_correlation)]
    print(f"{len(to_drop_min)} features  with a correlation coefficient to TARGET < {min_correlation}")
        
    
    to_drop = to_drop_max+to_drop_min 
    to_drop = list(dict.fromkeys(to_drop))
#     if 'SK_ID_CURR' in to_drop:
#         to_drop.remove('SK_ID_CURR')
        
    df.drop(to_drop, axis=1, inplace=True)
    print(f"{len(to_drop)} features to drop : Done !")
    del to_drop, to_drop_max, to_drop_min, cor_matrix, cor_target, upper_tri
    gc.collect()
    return df

In [6]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [7]:
# Preprocess application_train.csv and application_test.csv
def application_train(num_rows = None, nan_as_category = False):
    # Read data and merge
    df = pd.read_csv('./input/application_train.csv', nrows= num_rows)

    # Categorical features with Binary encode (0 or 1; two categories)
    for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
        df[bin_feature], uniques = pd.factorize(df[bin_feature])
    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)
    
    # NaN values for DAYS_EMPLOYED: 365.243 -> nan
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
    # Some simple new features (percentages)
    df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
    df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']
    gc.collect()
    return df

In [8]:
# Preprocess bureau.csv and bureau_balance.csv
def bureau_and_balance(num_rows = None, nan_as_category = True):
    bureau = pd.read_csv('./input/bureau.csv', nrows = num_rows)
    bb = pd.read_csv('./input/bureau_balance.csv', nrows = num_rows)
    bb, bb_cat = one_hot_encoder(bb, nan_as_category)
    bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)
    
    # Bureau balance: Perform aggregations and merge with bureau.csv
    bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
    for col in bb_cat:
        bb_aggregations[col] = ['mean']
    bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
    bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
    bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
    bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
    del bb, bb_agg
    gc.collect()
    
    # Bureau and bureau_balance numeric features
    num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }
    # Bureau and bureau_balance categorical features
    cat_aggregations = {}
    for cat in bureau_cat: cat_aggregations[cat] = ['mean']
    for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']
    
    bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])
    # Bureau: Active credits - using only numerical aggregations
    active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
    active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
    active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - using only numerical aggregations
    closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
    closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
    closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
    del closed, closed_agg, bureau
    gc.collect()
    return bureau_agg

In [9]:
# Preprocess previous_applications.csv
def previous_applications(num_rows = None, nan_as_category = True):
    prev = pd.read_csv('./input/previous_application.csv', nrows = num_rows)
    prev, cat_cols = one_hot_encoder(prev, nan_as_category= True)
    # Days 365.243 values -> nan
    prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
    prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
    # Add feature: value ask / value received percentage
    prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']
    # Previous applications numeric features
    num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum'],
    }
    # Previous applications categorical features
    cat_aggregations = {}
    for cat in cat_cols:
        cat_aggregations[cat] = ['mean']
    
    prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
    # Previous Applications: Approved Applications - only numerical features
    approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
    approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
    approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
    prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
    # Previous Applications: Refused Applications - only numerical features
    refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
    refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
    refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
    prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')
    del refused, refused_agg, approved, approved_agg, prev
    gc.collect()
    return prev_agg

In [10]:
# Preprocess POS_CASH_balance.csv
def pos_cash(num_rows = None, nan_as_category = True):
    pos = pd.read_csv('./input/POS_CASH_balance.csv', nrows = num_rows)
    pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
    # Features
    aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    
    pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
    pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
    # Count pos cash accounts
    pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
    del pos
    gc.collect()
    return pos_agg

In [11]:
# Preprocess installments_payments.csv
def installments_payments(num_rows = None, nan_as_category = True):
    ins = pd.read_csv('./input/installments_payments.csv', nrows = num_rows)
    ins, cat_cols = one_hot_encoder(ins, nan_as_category= True)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
    ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
    # Days past due and days before due (no negative values)
    ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
    ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
    ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
    ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
    # Features: Perform aggregations
    aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
        'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
    ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
    # Count installments accounts
    ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
    del ins
    gc.collect()
    return ins_agg

In [12]:
# Preprocess credit_card_balance.csv
def credit_card_balance(num_rows = None, nan_as_category = True):
    cc = pd.read_csv('./input/credit_card_balance.csv', nrows = num_rows)
    cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)
    # General aggregations
    cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
    cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
    cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
    # Count credit card lines
    cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
    del cc
    gc.collect()
    return cc_agg

In [13]:
def main(debug = False):
    num_rows = None if debug else None
    df = application_train(num_rows)
    with timer("Process bureau and bureau_balance"):
        bureau = bureau_and_balance(num_rows)
        print("Bureau df shape:", bureau.shape)
        df = df.join(bureau, how='left', on='SK_ID_CURR')
        del bureau
        gc.collect()
    with timer("Process previous_applications"):
        prev = previous_applications(num_rows)
        print("Previous applications df shape:", prev.shape)
        df = df.join(prev, how='left', on='SK_ID_CURR')
        del prev
        gc.collect()
    with timer("Process POS-CASH balance"):
        pos = pos_cash(num_rows)
        print("Pos-cash balance df shape:", pos.shape)
        df = df.join(pos, how='left', on='SK_ID_CURR')
        del pos
        gc.collect()
    with timer("Process installments payments"):
        ins = installments_payments(num_rows)
        print("Installments payments df shape:", ins.shape)
        df = df.join(ins, how='left', on='SK_ID_CURR')
        del ins
        gc.collect()
    with timer("Process credit card balance"):
        cc = credit_card_balance(num_rows)
        print("Credit card balance df shape:", cc.shape)
        df = df.join(cc, how='left', on='SK_ID_CURR')
        del cc
        gc.collect()
    with timer("Replace Infinites, NaN and Features' inadmissible characters"):
        df = nan_inf_char(df)
    with timer("Drop features according to correlation matrix"):
        df = drop_corr_feat(df)
    return df

In [14]:
with timer("Full model run"):
    df = main()

Bureau df shape: (305811, 116)
Process bureau and bureau_balance - done in 19s
Previous applications df shape: (338857, 249)
Process previous_applications - done in 27s
Pos-cash balance df shape: (337252, 18)
Process POS-CASH balance - done in 14s
Installments payments df shape: (339587, 26)
Process installments payments - done in 30s
Credit card balance df shape: (103558, 141)
Process credit card balance - done in 20s
236 features with more than 50.0% of NaN values : Dropped !
Replace Infinites, NaN and Features' inadmissible characters - done in 52s

C:\Users\emanu\AppData\Local\Temp\ipykernel_11312\3348126490.py:7: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool)).drop('TARGET',axis=0).drop('TARGET',axis=1)

121 features  with a correlation coefficient to another feature > 0.8
52 features  with a correlation coefficient to TARGET < 0.001
169 features to drop : Done !
Drop features according to correlation matrix - done in 227s
Full model run - done in 393s

In [15]:
toc=time.time()
print(f"Notebook execution time : {round((toc-tic)/60,2)} min")

Notebook execution time : 7.61 min

In [16]:
from sklearn.preprocessing import StandardScaler
def standard_scaler(X_train, X_test):
    std_scale = StandardScaler().fit(X_train)
    X_train_std = std_scale.transform(X_train)
    X_test_std = std_scale.transform(X_test)
    return X_train_std, X_test_std

In [17]:
# Distribution of TARGET
# df.set_index('SK_ID_CURR',inplace=True)
df['TARGET'].value_counts(normalize=True)

0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
X = df.drop('TARGET', axis=1)
y = df['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)
X_train_index = X_train.index
y_train_index = y_train.index
X_test_index = X_test.index
y_test_index = X_test.index

X_train, X_test = standard_scaler(X_train, X_test)
y_train.value_counts(normalize=True)

0    0.91927
1    0.08073
Name: TARGET, dtype: float64

In [19]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(k_neighbors=3, random_state=42) # sampling_strategy=0.5,

X_train_s, y_train_s = sm.fit_resample(X_train, y_train)
y_train_s.value_counts(normalize=True)

0    0.5
1    0.5
Name: TARGET, dtype: float64

In [20]:
# pd.DataFrame(X_train, columns=X.columns).to_csv('./output_datasets/X_train.csv', index=False)
pd.DataFrame(X_train_s, columns=X.columns).to_csv('./output_datasets/X_train.csv', index=False)

pd.DataFrame(X_test,columns=X.columns, index=X_test_index).to_csv('./output_datasets/X_test.csv', index=True)

pd.DataFrame(y_train_s, columns=['TARGET']).to_csv('./output_datasets/y_train.csv', index=False)
# pd.DataFrame(y_train, columns=['TARGET']).to_csv('./output_datasets/y_train.csv', index=False)

pd.DataFrame(y_test, columns=['TARGET'],index=y_test_index).to_csv('./output_datasets/y_test.csv', index=True)
df.to_csv('./output_datasets/DataFrame.csv', index=True)

In [21]:
# y_train = pd.read_csv('./output_datasets/y_train.csv')
# y_test = pd.read_csv('./output_datasets/y_test.csv')

In [22]:
pd.DataFrame(y_test, columns=['TARGET'],index=y_test_index)

            TARGET
SK_ID_CURR
371361           1
453351           0
225896           0
455856           0
392974           0
...            ...
140721           0
389524           0
202859           0
223224           0
217447           0

[101479 rows x 1 columns]